
  <div class="text-center" >
    <pre>



  _______  _______  _        _______  _______  _______ 
  (  ____ \(  ____ \( (    /|(  ____ \(  ___  )(  ____ )
  | (    \/| (    \/|  \  ( || (    \/| (   ) || (    )|
  | (_____ | (__    |   \ | || (_____ | |   | || (____)|
  (_____  )|  __)   | (\ \) |(_____  )| |   | ||     __)
        ) || (      | | \   |      ) || |   | || (\ (   
  /\____) || (____/\| )  \  |/\____) || (___) || ) \ \__
  \_______)(_______/|/    )_)\_______)(_______)|/   \__/
      Powered by Azure
  </pre>
</div>
<div class="row mt-3">
    <div class="form-group">
      <input (keyup)="applyFilters($event)"  type="search" class="form-control" placeholder="Tape to Filter">
      <br><br>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef sortable="Name" (sort)="onSort($event)" width="10"> name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
        
        
        <ng-container matColumnDef="Number">
          <th mat-header-cell *matHeaderCellDef scope="col" sortable="Number" (sort)="onSort($event)" width="10"> Number </th>
          <td mat-cell *matCellDef="let element"> {{element.Number}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="contentType">
          <th mat-header-cell *matHeaderCellDef  scope="col" sortable="contentType" (sort)="onSort($event)" width="10"> type </th>
          <td mat-cell *matCellDef="let element"> {{element.contentType}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="Ammount">
          <th mat-header-cell *matHeaderCellDef scope="col" sortable="Ammount" (sort)="onSort($event)"  width="50"> Ammount </th>
          <td mat-cell *matCellDef="let element"> {{element.Ammount}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
    </div>
  

